ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.body-page{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo{ 
    
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
font-family: "Raleway", sans-serif;
}

.nav-element{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
font-family: "Roboto", sans-serif;
}

.nav-element:hover {
color: #404BBF;
}

.nav-element:focus {
    color: #404bbf;
}

.address-page{
    font-style: normal
}

.address-link:hover {
    color: #404BBF;
}

.address-link:focus {
    color: #404bbf;
}

.address-link {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.section-hero{
    background-color: #2e2f42;
}


.hero-buton:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}

.hero-buton:focus{
    background-color: #404BBF;
}

.hero-buton{
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}

.hero-h1 {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.section-1-h3{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.section-1-p{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.section-2{
    background-color: #F4F4FD;
}

.section-2-h2{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.section-2-h3{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.section-2-p{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.section-3-h2{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.section-3-h3{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.section-3-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}

.studio-logo{
    color: #2e2f42;
}

.footer-page{
    background-color: #2e2f42;
}

.footer-page .studio-logo{
    color: #f4f4fd;
}

.footer-p{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}